{% load static %}
{% include 'jobseeker/base.html' %}
{% block content %}
<div class="container mx-auto p-4 mt-20">
  <h1 class="text-2xl font-bold text-center mb-6">Available Jobs</h1>

  <!-- Search Field -->
  <div class="flex justify-center mb-6">
    <input
      type="text"
      name="search"
      placeholder="Search for jobs..."
      class="search-input w-full max-w-lg p-2 border border-gray-300 rounded-md focus:outline-none focus:ring-2 focus:ring-indigo-600"
    />
  </div>

  <!-- Filters Section -->
  <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-4 gap-4 mb-8">
    <!-- Job Type Filter -->
    <select
      name="job_type"
      class="p-2 border border-gray-300 rounded-md focus:outline-none focus:ring-2 focus:ring-indigo-600"
    >
      <option value="">Job Type</option>
      {% for key, value in job.JOB_TYPE_CHOICES %}
      <option value="{{ key }}">{{ value }}</option>
      {% endfor %}
    </select>

    <!-- Schedule Filter -->
    <select
      name="schedule"
      class="p-2 border border-gray-300 rounded-md focus:outline-none focus:ring-2 focus:ring-indigo-600"
    >
      <option value="">Schedule</option>
      {% for key, value in job.SCHEDULE_CHOICES %}
      <option value="{{ key }}">{{ value }}</option>
      {% endfor %}
    </select>

    <!-- Career Level Filter -->
    <select
      name="career_level"
      class="p-2 border border-gray-300 rounded-md focus:outline-none focus:ring-2 focus:ring-indigo-600"
    >
      <option value="">Career Level</option>
      {% for key, value in job.CAREER_LEVEL_CHOICES %}
      <option value="{{ key }}">{{ value }}</option>
      {% endfor %}
    </select>

    <!-- Category Filter -->
    <select
      name="category"
      class="p-2 border border-gray-300 rounded-md focus:outline-none focus:ring-2 focus:ring-indigo-600"
    >
      <option value="">Category</option>
      {% for category in categories %}
      <option value="{{ category.id }}">{{ category.name }}</option>
      {% endfor %}
    </select>
  </div>

  <!-- Job Listings and Details -->
  <div class="grid grid-cols-1 lg:grid-cols-2 gap-6">
    <!-- Job Listings on the Left -->

    <div class="bg-white rounded-lg">
      {% include './components/job_listing.html' %} {% comment %} inlcude the job_listing component {% endcomment %}
    </div>

  <!--    desktop view-->
  {% include './components/desktop_view.html' %}
  </div>
</div>


{% comment %} mobile listing {% endcomment %}

{% include './components/mobile_view.html' %}

<script src="{% static 'account/js/main.js' %}"></script>
{% endblock %}
